.contact-list-table {
    margin-left: 1rem;
    margin-right: 1rem;
}

.contact-list-table-title {
    line-height: 5rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    font-weight: bold;
}

.contact-list-table button {
    margin-left: 5px;
    margin-top: 5px;
}

.contact-list-table-add {
    margin-bottom: 5px;
}

.activated {
    background-color: purple;
    color: white;
    border-color: purple;
}

.activated:hover{
    background-color: #ca00ca;
    color: black;
    border-color: #ca00ca;
}



